.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    height:auto;
    background-color:azure;
  }
  .btn
  {
    background-color: #4CAF50; /* Green */
  border: none;
  color: rgb(78, 105, 84);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  
  font-size: 16px;
  }

  body {
    background-color:azure;
    


}